<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="agenda-mensal">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="relatorio">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Relatório</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="saldo-inicial">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Saldo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conta-investimento">
      <ion-icon name="trending-up-outline"></ion-icon>
      <ion-label>Invest</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>