<app-header [title]="'Relatório'"></app-header>

<ion-content class="ion-padding">

  <form [formGroup]="filtroForm" (ngSubmit)="gerarRelatorio()">

    <div class="date-range-container">
      <ion-item>
        <ion-label position="floating">Mês Inicial</ion-label>
        <ion-select formControlName="mesInicial" interface="popover">
          <ion-select-option *ngFor="let mes of meses" [value]="mes.valor">
            {{ mes.nome }}
          </ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Mês Final</ion-label>
        <ion-select formControlName="mesFinal" interface="popover">
          <ion-select-option *ngFor="let mes of meses" [value]="mes.valor">
            {{ mes.nome }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ano Inicial</ion-label>
        <ion-select formControlName="anoInicial" interface="popover">
          <ion-select-option *ngFor="let ano of anos" [value]="ano">
            {{ ano }}
          </ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Ano Final</ion-label>
        <ion-select formControlName="anoFinal" interface="popover">
          <ion-select-option *ngFor="let ano of anos" [value]="ano">
            {{ ano }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>


    <ion-button expand="block" type="submit" [disabled]="filtroForm.invalid" class="ion-margin-top">
      Gerar Relatório
    </ion-button>
  </form>

  <ng-container *ngIf="lineChartData.length > 0">
    <div style="display: flex; justify-content: flex-start;">
      <ngx-charts-line-chart style="width: 95%; height: 600px;" [scheme]="colorScheme" [results]="lineChartData" [xAxis]="true" [yAxis]="true"
        [legend]="true" [legendPosition]="below" [legendTitle]="'Legenda'" [showXAxisLabel]="true"
        [showYAxisLabel]="false" [xAxisLabel]="'Período'" [yAxisLabel]="'Valor'" [autoScale]="true" [animations]="true"
        [yAxisTickFormatting]="formatarMoeda" [xAxisTickFormatting]="formatarPeriodo" [rotateXAxisTicks]="true">

      </ngx-charts-line-chart>
    </div>


    <br>
    <br>
    <br>

    <div style="display: flex; justify-content: center;">
      <ion-card *ngIf="resumo" style="width: 100%; box-sizing: border-box;">
        <ion-card-header>
          <ion-card-title style="font-size: 1rem;">
            <ion-icon name="calendar-outline" style="vertical-align: middle; margin-right: 8px;"></ion-icon>
            Resumo do Período
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row class="ion-justify-content-center">

              <ion-col size="6" class="ion-text-center">
                <ion-label color="medium" style="font-size: 0.85rem;">Receitas</ion-label>
                <h2 style="color: #1e90ff; font-size: 1rem;">{{ resumo.receitas | currency: 'BRL':'symbol':'1.2-2':'pt'
                  }}
                </h2>
              </ion-col>
              <ion-col size="6" class="ion-text-center">
                <ion-label color="medium" style="font-size: 0.85rem;">Despesas</ion-label>
                <h2 style="color: #e74c3c; font-size: 1rem;">{{ resumo.despesas | currency: 'BRL':'symbol':'1.2-2':'pt'
                  }}
                </h2>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="6" class="ion-text-center">
                <ion-label color="medium" style="font-size: 0.85rem;">Saldo Inicial</ion-label>
                <h2 style="color: #2b7a0b; font-size: 1rem;">{{ resumo.saldoFinal | currency:
                  'BRL':'symbol':'1.2-2':'pt'
                  }}</h2>
              </ion-col>

              <ion-col size="6" class="ion-text-center">
                <ion-label color="medium" style="font-size: 0.85rem;">Saldo Final</ion-label>
                <h2 [style.color]="resumo.saldoFinal >= 0 ? '#2b7a0b' : '#e74c3c'" style="font-size: 1rem;">
                  {{ resumo.contaInvestimento | currency: 'BRL':'symbol':'1.2-2':'pt' }}
                </h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
    <!-- <ion-card class="ion-margin-top">
      <ion-card-header>
        <ion-card-title>Resumo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Total de Receitas:</strong> {{ resumo?.receitas | currency:'BRL' }}</p>
        <p><strong>Total de Despesas:</strong> {{ resumo?.despesas | currency:'BRL' }}</p>
        <p><strong>Saldo Final:</strong> {{ resumo?.saldoFinal | currency:'BRL' }}</p>
        <p><strong>Investimentos:</strong> {{ resumo?.contaInvestimento | currency:'BRL' }}</p>
      </ion-card-content>
    </ion-card> -->
  </ng-container>

</ion-content>