<ion-header>
  <ion-toolbar>
    <ion-title>Atenticação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="login()" [disabled]="loading">
    <ion-spinner *ngIf="loading"></ion-spinner>
    <span *ngIf="!loading">Login com Google</span>
  </ion-button>
    <ion-button expand="block" (click)="getUser()" [disabled]="loading">
    <ion-spinner *ngIf="loading"></ion-spinner>
    <span *ngIf="!loading">LCaptura Usuário</span>
  </ion-button>
</ion-content>